<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca SENAI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <h1>Biblioteca SENAI</h1>

        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('listar_livros') }}">Livros</a>
        </nav>
    </header>

    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for categoria, mensagem in messages %}
                    <div class="alert {{ categoria }}">
                        {{ mensagem }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </main>

</body>
</html>