{% extends 'base.html' %}
{% block title %}Login - BiblioTech{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3>Login</h3>
      <form method="post" action="{{ url_for('login') }}">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input type="password" name="senha" class="form-control" required>
        </div>
        <button class="btn btn-primary">Entrar</button>
      </form>
      <p class="mt-3">Ainda não tem conta? <a href="{{ url_for('register') }}">Cadastre-se aqui</a></p>
    </div>
  </div>
{% endblock %}
